Package: python-math3d
Version: 1.3
Section: python
Priority: optional
Architecture: all
Depends: python (>=2.6) , python-central (>= 0.4.16),  python-numpy
installed-Size: 150
Maintainer: Morten Lind <mlp@automatics.no-ip.org>
Source: pymath3d
Description: 3D Special Euclidean mathematics module for Python.
Python-Version: all
