Package: python-math3d
Version: 1.1-4
Section: python
Priority: optional
Architecture: all
Depends: python (>= 2.5) , python-central (>= 0.4.16),  python-numpy 
Conflicts: python (<= 2.4)
installed-Size: 50
Maintainer: Morten Lind <mlp@automatics.no-ip.org>
Source: pymath3d
Description: 3D Special Euclidean mathematics module for Python.
Python-Version: all
